<div>
    <h1>Todos</h1>
    <a href="/todos/new">Add a Todo</a>

    {{#each todos}}
    <ul>
        <li>Description: {{this.description}}</li>
        <li>Urgent: {{this.urgent}}</li>
    </ul>
    {{/each}}
</div>